@import './classes/container.scss';
@import './classes/effects.scss';
@import './classes/opening.scss';
@import './classes/poster.scss';
@import './classes/dreaming.scss';
@import './classes/grid.scss';
@import './classes/carousel.scss';
@import './classes/sobre.scss';

@mixin initial_parameters() {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Playfair', serif;
    }
    body {
        background-color: black;
    }
}

@include initial_parameters();
