$bg-color: black;
$bg-poster: #e5d7d7;
$font-color: black;
$font-color-secondary: white;

@font-face {
    font-family: 'Kurosawa Serif';
    src: url('./font/kurosawa serif.otf') format('opentype');
}