.carousel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    &__title {
        margin: 10px 5px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            color: rgba(255, 255, 255, 0.7);
            font-size: 250%;
            padding: 1%;
        }
    }
    &__close {
        cursor: pointer;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        width: 35px;
        height: 35px;
        margin-right: 15px;
        opacity: 0.5;
        transition: opacity 0.5s;
        border: 2px solid white;
        border-radius: 3px;
        img {
            filter: invert(90%);
            width: 100%;
            height: 100%;
        }
        &:hover {
            transition: all 0.5s;
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.3);
            img {
                transform: scale(0.95);
            }
        }
    }
    &__img {
        display: flex;
        width: 100%;
        transition: opacity 0.2s;
    }
    &__btn {
        position: absolute;
        display: flex;
        align-items: center;
        transform: translateY(40px);
        top: 0;
        bottom: 0;
        cursor: pointer;
        margin: auto;
        height: 75px;
        background-color: white;
        opacity: 0.5;
        transition: opacity 0.5s;
        border: none;
        font-size: 300%;
        &:hover {
            opacity: 0.8;
            transition: all 0.2s;
        }
    }
    #slide-prev {
        left: 0;
        padding-right: 20px;
        border-radius: 0 50px 50px 0;
    }
    #slide-next {
        right: 0;
        padding-left: 20px;
        border-radius: 50px 0 0 50px;
    }
    &--fadeout {
        opacity: 0;
        transition: opacity 0.1s;
    }
    &--img-hidden {
        opacity: 1;
        transition: opacity 0.2s;
    }
}

@media screen and (orientation: landscape) {
    .carousel {
        height: 100%;
    }
}