.dreams {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        height: 4vh;
        margin-top: 30px;
        color: white;
        font-size: 250%;
        opacity: 0;
    }
    &__btn {
        font-size: 150%;
        background-color: transparent;
        color: white;
        opacity: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--fadeout {
        opacity: 0;
        transition: opacity 0.5s;
    }
    &--fadein {
        opacity: 1;
        transition: opacity 3s ease-in;
    }
}

.grid-dreams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    height: 80vh;
    width: 80vh;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 1s;
        img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
            transition: all 0.4s;
        }
        img:hover, 
        img:active {
            transition: all 0.2s;
            cursor: pointer;
            transform: scale(0.98);
        }
    }
    &--fadein {
        opacity: 1;
        transition: opacity 1s;
    }
    &--fademid {
        opacity: 1;
        transition: opacity 6s;
    }
}

@media screen and (max-width: 767px) {
    .dreams {
        margin: 1vh 0;
        width: 98vw;
        &__title {
            font-size: 175%;
            text-align: center;
        }
    }
    .grid-dreams {
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        #meio {
            grid-column: span 2;
            margin: 0 20vw;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .dreams {
        margin-top: 10%;
        &__title {
            margin-top: 10%;
        }
    }
    .grid-dreams {
        width: 100%;
        height: 100%;
    }
}
