.sobre {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    color: white;

    &__header {
        background-color: rgb(20, 20, 20);
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 1%;
        border-radius: 5px;
        button {
            cursor: pointer;
            height: 35px;
            width: 35px;
            padding: 1px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &__director {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        padding: 1%;
        background-color: rgb(20, 20, 20);
        &>img {
            width: 100%;
        }
    }

    &__ficha {

        margin-top: 20px;
        padding: 1%;
        background-color: rgb(20, 20, 20);
        display: flex;
        justify-content: space-between;
        // img {
        //     width: 500px;
        // }
        // ul {
        //     li {
        //         display: flex;
        //         justify-content: space-between;
        //     }
        // }
    }

    &--fadein {
        opacity: 1;
        transition: opacity 0.5s;
    }

    &--fadeout {
        opacity: 0;
    }
}

.logo_block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    a {
        text-decoration: none;
    }
    img {
        max-height: 32px;
        border-radius: 3px;
    }
}