.sobre {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    color: white;

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 1%;
        padding: 1%;
    }

    &__director {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        padding: 1%;
        background-color: rgb(20, 20, 20);
        #portrait {
            width: 100%;
        }
        #text_logo {
            padding: 1%;
            justify-content: center;
        }
    }

    &__btn {
        height: 35px;
        width: 35px;
        padding: 1px;
        img {
            height: 100%;
            width: 100%;
        }
    }

    &--fadein {
        opacity: 1;
        transition: opacity 0.5s;
    }

    &--fadeout {
        opacity: 0;
    }
}

.logo_block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
    a {
        text-decoration: none;
    }
    img {
        max-height: 32px;
        border-radius: 3px;
    }
}